.callout[data-callout="source"] {
    --callout-color: 255, 43, 135;
    --callout-icon: lucide-newspaper;
}

.callout[data-callout="tools"] {
    --callout-color: 245, 120, 47;
    --callout-icon: lucide-wrench;
}

.callout[data-callout="morning"]{
    --callout-color: 222, 170, 0;
    --callout-icon: lucide-sunrise;
}

.callout[data-callout="afternoon"]{
    --callout-color: 0, 131, 148;
    --callout-icon: lucide-sunset;
}