
.tag[href="#important"i]{
    background-color: rgb(61, 10, 10);
    color: white;
    border-color: rgb(145, 0, 0);
    border-width: 1px;
    text-transform: uppercase;
}

.tag[href="#college"i]{
    background-color: rgb(61, 10, 58);
    color: white;
    border-color: rgb(95, 0, 107);
    border-width: 1px;
    text-transform: uppercase;
}

.tag[href="#todo"i]{
    background-color: rgb(138, 117, 0);
    color: white;
    border-color: rgb(207, 211, 0);
    border-width: 1px;
    text-transform: uppercase;
}