:root{
    --primary:lightblue;
    --secondary:red;
}

header nav{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

header nav h1{
    margin-right: auto;
    border-bottom: 3px solid var(--primary);
    color:lightgreen;
}

header nav a{
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
}

header nav a.active{
    background: var(--primary);
}

main{
    max-width: 1200px;
    margin: 40px auto;
}