:root{
    --primary:#F3FCFF;
    --secondary:red;
    
}
a {
    color: #F3FCFF;
}

html{
    height: 100%;
}
body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    
    width: 100%;
}

.leaflet-container{
    height: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;700;900&display=swap');