:root{
    --primary:#F3FCFF;
    --secondary:red;
    
}
a {
    color: #fafcfc;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #fafcfc;
}

.leaflet-container{
    height: 100%;
}



@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');